# Dev mode enables phar specific commands for php context
DEV_MODE=0

# package name from packagist.org
PACKAGE_NAME=mikekamornikov/uspec

# basename of phar attached to PACKAGE_NAME release
PHAR_BASENAME=uspec

# default format
DEFAULT_FORMAT=markdown

# path to templates
TEMPLATE_PATH=src/templates

# path to cache folder (by default system tmp folder is used)
CACHE_PATH=

# cache ttl in seconds
CACHE_TTL=3600
